@{

    Layout = "~/Views/Shared/Admin.cshtml";

}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Добавить новый продукт</h3>
            </div>
           
        </div>
        @if (ViewBag.flag == "1" || ViewBag.flag == "0")
        {
            <div class="col-md-12">
            
               
                    <div class="x_content bs-example-popovers">
                        @{
                            if (ViewBag.flag == "1")
                            {
                                <div class="alert alert-success alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><p style="color:black">×</p></span>
                                    </button>
                                    <strong>@ViewBag.mess</strong>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <strong>@ViewBag.mess</strong>
                                </div>
                            }
                        }

                    </div>
              
            </div>
                            }

      

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Форма нового продукта <small></small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            
                            <li>
                                <a class="close-link"><i class="fa fa-close" style="padding-left:50px"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" action="@Url.Action("AddProduct", "Admin")" method="post" enctype = "multipart/form-data">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                    Название продукта <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="first-name" name="name" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    Цена продукта <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="last-name" name="price" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Изображение продукта
                                    <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div>
                                        <img id="user_img"
                                             height="160"
                                             width="210"
                                             style="border:solid" />
                                    </div>
                                    <br />

                                    <input type="file" class="profile_img" id="file" name="file" onchange="show(this)" />
                                 
                                </div>


                            </div>


                            <script type="text/javascript">

   function show(input) {
      if (input.files && input.files[0]) {
      var filerdr = new FileReader();
      filerdr.onload = function (e) {
         $('#user_img').attr('src', e.target.result);
      }
      filerdr.readAsDataURL(input.files[0]);
   }
}
                            </script> 
                       
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    Описание продукта 
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12"  for="last-name">
                                    <textarea class="form-control" name="description" rows="3" placeholder=''></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12"  for="last-name">Категория продукта <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="form-control" name="catid">

                                        @{
                                        <option value="0">Выберите вариант</option>
                                            foreach (var item in ViewData["list"] as IEnumerable<SHOP.Models.Category>)
                                            {

                                                <option value="@item.id">@item.Name</option>


                                            }
                                        }



                                        
                                        
                                      
                                    </select>
                                </div>
                            </div>
                                                  
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-6 col-xs-12 col-md-offset-3">
                                 
                                    <button type="submit" class="btn btn-success">Добавить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>

